/* rgb(44, 62, 80) /* Midnightblue*/
/* rgb(236, 240, 241) /*Clouds*/
/* rgb(189, 195, 199) /*Silver*/

body {
	background-color: rgb(44, 62, 80);
	color: rgb(236, 240, 241);
}

* {
    transition: all 0.5s ease; 
}  

p {
	font-size: 1.2em;
}

h4 {
	margin-top: none;
	text-align: left;
	padding-top: 1em;
	display: block; 
}

a:hover,
a:focus {
  	text-decoration: none;
  	color: rgb(189, 195, 199);
}

a {
	color: rgb(149, 165, 166);
}

.row {
	padding: 1em;
}

.container {
	padding-left: 5em;
	padding-right: 5em; 
	margin-top: 5em;
	margin-bottom: 5em;	
}

.things > td {
	padding: 1em;
}

.profile,
.knowledgment,
.projects,
.contact,
.social {
	text-align: left;
	padding-top: 2em;	
}

.about {
	padding-left: 5em;
}

.img-responsive,
.img-responsive2 {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.social {
	display: inline-block;
}

.projects {
	vertical-align: middle;
}

#tAbout {
	font-size: 1em;
}

#txt {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

